{% extends 'base.html' %}

{% block content%}
<form method='post' action="{% url 'update_employee' employees.id %}">
    {% csrf_token %}
    <div class="mb-3">
      <label for="first_name" class="form-label">First Name:</label>
      <input type="text" name='first_name' class="form-control" id="first_name" placeholder="Please Enter First Name Please"  value="{{employees.first_name}}" required >
    </div>
    <div class="mb-3">
        <label for="last_name" class="form-label">Last Name:</label>
        <input type="text" name='last_name' class="form-control" id="last_name" placeholder="Please Enter Last Name Please" value="{{employees.last_name}}" required >
      </div>
    <div class="mb-3">
      <label for="mobile" class="form-label">Mobile</label>
      <input type="number" name='mobile' class="form-control" id="mobile" placeholder="Entter Your Mobile Number " value="{{employees.mobile}}">
    </div>
    <div class="mb-3">
        <label for="cnic" class="form-label">CNIC</label>
        <input type="number" name='cnic' class="form-control" id="cnic" placeholder="Entter Your cnic" value="{{employees.cnic}}">
      </div>
      <div class="mb-3">
        <label for="address" class="form-label">Address:</label>
        <input type="text" name='address' class="form-control" id="address" placeholder="Please Enter your address"  value="{{employees.address}}">
      </div>
      <div class="mb-3">
        <label for="designation" class="form-label">Designation:</label>
        <input type="text" name='designation' class="form-control" id="designation" placeholder="Please Enter designation" value="{{employees.designation}}" >
      </div>
      <div class="mb-3">
        <label for="first_name" class="form-label">Department:</label>
        <select id="department" name="department" class="form-select custom-select"  required>
            <option value="">Select Department</option>
            {% for department in departments %}
              <option value="{{ department.id }}" 
              {% if department.id == employees.department_id %} selected {% endif %}
              >{{ department.name }}</option>
            {% endfor %}
          </select>
      </div>
    <div class="d-flex justify-content-start">
        <button type="submit" class="btn btn-primary me-2">Submit</button>
        <button type="button" class="btn btn-warning me-2" onclick="clearFields()">Clear</button>
        <button type="button" class="btn btn-danger" onclick="cancelAction()">Cancel</button>
    </div>
  </form>
  <script>
    function clearFields() {
        const inputs = document.querySelectorAll('input, textarea');
        inputs.forEach(input => {
            input.value = ''; 
        });
    }
    function cancelAction() {
        window.location.href = "{% url 'employee_list' %}"; 
    }
</script>

{% endblock %}